rag-data-storing-workflow.json
{
  "name": "RAG Chatbot Data Storing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cRWfscDCyrKqo_nVhkEwZM0HHMCFDpDj",
          "mode": "list",
          "cachedResultName": "Testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cRWfscDCyrKqo_nVhkEwZM0HHMCFDpDj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5632ce04-552c-411d-bd98-70fcb9f92462",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6ypff7uJiX74xe7O",
          "name": "Final Google Drive credentials for Local Host"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "b4d849d7-c3fa-4f8b-9884-8b318b3117a7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6ypff7uJiX74xe7O",
          "name": "Final Google Drive credentials for Local Host"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {
          "pineconeNamespace": "Q&A"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "730f15d7-98dd-4978-aaa0-62804cc19cba",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lL3lMub08fddFUxS",
          "name": "Final Pinecone Credentials for Local Host"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        192
      ],
      "id": "0d331c94-bd57-4786-a0c4-bb0264c10ee5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dGsTzz54XXvvneS4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        192
      ],
      "id": "1a3eb235-7cfc-4dc4-b496-63664fc0629f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        352
      ],
      "id": "cad0a311-b007-4158-a101-f14a19fbe707",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca0db98d-86e5-4087-84bb-8489799109f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff181980f8d74cb98e99901a586ebdcf64552866b94cab33b9517f041f33c185"
  },
  "id": "KJUzgHWTnaHdequA",
  "tags": []
}